<% if @doctor.errors.any? %>
  <ul>
    <% @doctor.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<h1>Novo Médico</h1>
<%= form_with model: @doctor do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :crm %>
    <%= f.text_field :crm %>

    <%= f.label :crm_uf %>
    <%= f.text_field :crm_uf %>
  </div>
  <p><%= f.submit 'Adicionar Médico' %></p>
<% end %>
